
@{
    ViewBag.Title = "PrescriptionList";
    Layout = "~/Views/myLayout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="content-wrapper" style="min-height: 1100px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">

            <div class="p-l-30 p-r-30">
                <div class="header-icon"><i class="pe-7s-world"></i></div>
                <div class="header-title">
                    <h1>Prescription</h1>
                    <small>Prescription List</small>
                </div>
            </div>
        </section>
        <!-- Main content -->
        <div class="content">
            <div id="demoModeEnable"></div>
            <input type="hidden" name="" id="" value="">
            <!-- alert message -->
            <!-- content -->
            <div class="row">
                <!--  table area -->
                <div class="col-sm-12">
                    <div class="panel panel-default thumbnail">

                        <div class="panel-body">
                            
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- /.content -->
    </div>
</body>
</html>

