
@{
    ViewBag.Title = "AddBloodGroup";
    Layout = "~/Views/myLayout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="content-wrapper" style="min-height: 1070px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">

            <div class="p-l-30 p-r-30">
                <div class="header-icon"><i class="pe-7s-world"></i></div>
                <div class="header-title">
                    <h1>Hospital Activities</h1>
                    <small>Add Blood Group</small>
                </div>
            </div>
        </section>
        <!-- Main content -->
        <div class="content">
            <div id="demoModeEnable"></div>
            <input type="hidden" name="" id="" value="">
            <!-- alert message -->
            <!-- content -->
            <div class="row">
                <!--  form area -->
                <div class="col-sm-12">
                    <div class="panel panel-default thumbnail">

                        <div class="panel-heading no-print">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="/HospitalActivities/BloodGroupList"> <i class="fa fa-list"></i>  Blood Group List </a>
                            </div>
                        </div>

                        <div class="panel-body panel-form">
                            <div class="row">
                                <div class="col-md-9 col-sm-12">


                                    <div class="form-group row">
                                        <label for="name" class="col-xs-3 col-form-label">Blood Group<i class="text-danger">*</i></label>
                                        <div class="col-xs-9">
                                            <input name="name" type="text" class="form-control" id="bloodGroup" placeholder="Blood Group Name" value="">
                                        </div>
                                    </div>

                                    

                                  
                                    

                                    <div class="form-group row">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            <div class="ui buttons">

                                                <button type="button" onclick="add()" class="ui positive button btn btn-success" id="btnSave">Save</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- /.content -->
    </div>
    <script>
        function add() {
            var bloodGroup = $("#bloodGroup").val();
            console.log(bloodGroup);
            $.ajax({
                url: "/HospitalActivities/AddBloodGroupRecord",
                dataType: "JSON",
                type: "POST",
                data: { bloodGroup: bloodGroup },
                success: function (result) {
                    alert("ADDED");
                    window.location.href = "/HospitalActivities/AddBloodGroup";
                },
                error: function (er) {
                    alert("Something went wrong");
                }

            });
        }






    </script>
</body>
</html>

