
@{
    ViewBag.Title = "BirthReport";
    Layout = "~/Views/myLayout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="content-wrapper" style="min-height: 1070px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">

            <div class="p-l-30 p-r-30">
                <div class="header-icon"><i class="pe-7s-world"></i></div>
                <div class="header-title">
                    <h1>Hospital Activities</h1>
                    <small>Birth Report</small>
                </div>
            </div>
        </section>
        <!-- Main content -->
        <div class="content">
            <div id="demoModeEnable"></div>
            <input type="hidden" name="" id="" value="">
            <!-- alert message -->
            <!-- content -->
            <div class="row">
                <!--  table area -->
                <div class="col-sm-12">
                    <div class="panel panel-default thumbnail">

                        <div class="panel-heading no-print">
                            <div class="btn-group">
                                <a class="btn btn-success" href="/HospitalActivities/AddBirthReport"> <i class="fa fa-plus"></i>  Add Birth Report </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!--Department List goes here-->
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- /.content -->
    </div>
</body>
</html>

