
@{
    ViewBag.Title = "AddPatient";
    Layout = "~/Views/myLayout.cshtml";
}


<link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/js/jquery.datetimepicker.full.js"></script>
<script src="~/js/jquery.datetimepicker.min.js"></script>
<script src="~/js/jquery.datetimepicker.full.min.js"></script>
<div class="content-wrapper" style="min-height: 1130px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">

        <div class="p-l-30 p-r-30">
            <div class="header-icon"><i class="pe-7s-world"></i></div>
            <div class="header-title">
                <h1>Patient</h1>
                <small>Add Patient</small>
            </div>
        </div>
    </section>
    <!-- Main content -->
    <div class="content">
        <div id="demoModeEnable"></div>
        <input type="hidden" name="" id="" value="">
        <!-- alert message -->
        <!-- content -->
        <div class="row">
            <!--  form area -->
            <div class="col-sm-12">
                <div class="panel panel-default thumbnail">

                    <div class="panel-heading no-print">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="/Patient/PatientList"> <i class="fa fa-list"></i>  Patient List </a>
                        </div>
                    </div>

                    <div class="panel-body panel-form">
                        <div class="row">
                            <div class="col-md-9 col-sm-12">





                                <div class="form-group row">
                                    <label for="firstname" class="col-xs-3 col-form-label">First Name <i class="text-danger">*</i></label>
                                    <div class="col-xs-9">
                                        <input name="firstname" type="text" class="form-control" id="firstname" placeholder="First Name" value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="lastname" class="col-xs-3 col-form-label">Last Name <i class="text-danger">*</i></label>
                                    <div class="col-xs-9">
                                        <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name" value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-xs-3 col-form-label">Email Address <i class="text-danger">*</i></label>
                                    <div class="col-xs-9">
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Email Address" value="">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label for="mobile" class="col-xs-3 col-form-label">Mobile No <i class="text-danger">*</i></label>
                                    <div class="col-xs-9">
                                        <input name="mobile" class="form-control" type="number" placeholder="Mobile No" id="mobile" value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="blood_group" class="col-xs-3 col-form-label">Blood Group</label>
                                    <div class="col-xs-9">
                                        @Html.DropDownList("HMS_BloodGroup", (SelectList)ViewBag.bloodGroup, "Select One", new { @class = "form-control", id = "bloodGroup" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xs-3">Sex <i class="text-danger">*</i></label>
                                    <div class="col-xs-9">
                                        <div class="form-check">
                                            <label class="radio-inline">
                                                <input type="radio" name="sex" value="Male" checked="">Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="sex" value="Female">Female
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="sex" value="Other">Other
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="date_of_birth" class="col-xs-3 col-form-label">Date of Birth <i class="text-danger">*</i></label>
                                    <div class="col-xs-9">
                                        <input name="date_of_birth" class="form-control " type="text" placeholder="Date of Birth" id="date_of_birth" value="">
                                    </div>
                                </div>

                                <!-- if patient picture is already uploaded -->

                                <div class="form-group row">
                                    <label for="picture" class="col-xs-3 col-form-label">Picture</label>
                                    <div class="col-xs-9">
                                        <input type="file" name="picture" id="picture" value="">
                                        <input type="hidden" name="old_picture" value="">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="address" class="col-xs-3 col-form-label">Address <i class="text-danger">*</i></label>
                                    <div class="col-xs-9">
                                        <textarea name="address" id="address" class="form-control" placeholder="Address" maxlength="140" rows="7"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xs-3">Status</label>
                                    <div class="col-xs-9">
                                        <div class="form-check">
                                            <label class="radio-inline">
                                                <input type="radio" name="status" value="1" checked="">Active
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="status" value="0">Inactive
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-offset-3 col-sm-6">
                                        <div class="ui buttons">


                                            <button type="button" onclick="add()" class="ui positive button">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- /.content -->
</div>


<script>
    $(function () {
        //$('.emailDateArea').datetimepicker().datepicker({dateFormat:'d-MM-yy'});
        //$('.emailDateArea').datepicker({ dateFormat: 'd-MM-yy' }).datepicker(new Date());
        $("#date_of_birth").datetimepicker({

            format: 'd-M-y'


        });




    });
    function add() {
        var firstname = $("#firstname").val();
        var lastname = $("#lastname").val();
        var email = $("#email").val();
        var mobile = $("#mobile").val();
        var bloodGroup = $("#bloodGroup option:selected").val();

        var sex = $("input[name=sex]:checked").val();

        var date_of_birth = $("#date_of_birth").val();
        var picture = $("#picture").val();
        var address = $("#address").val();
        var status = $("input[name=status]:checked").val();


        $.ajax({
            url: "/Patient/AddPatientRecord",
            dataType: "JSON",
            type: "POST",
            data: { firstname: firstname, lastname: lastname, email: email, address: address, mobile: mobile, picture: picture, date_of_birth: date_of_birth, sex: sex, bloodGroup: bloodGroup, status: status },
            success: function (result) {
                swal({
                    title: "Good Job!",
                    text: "Record has Added Successfully.",
                    type: "success",
                    timer: 1000
                }, function () {
                    window.location.href = "/Patient/AddPatient";
                });
                
            },
            error: function (err) {
                alert("Something went wrong");
            }


        });


    }
</script>

